[client]
port                    = 3306
socket                  = /var/run/mysqld/mysqld.sock

# The MariaDB server
[mysqld]

skip-external-locking
skip_name_resolve
skip-host-cache

port                    = 3306

basedir                 = /usr/
datadir                 = /DATA/db/mysql
tmpdir                  = /tmp

pid-file                = /var/run/mysqld/mysqld.pid
socket                  = /var/run/mysqld/mysqld.sock

key_buffer_size         = 128M
max_allowed_packet      = 64M
table_open_cache        = 3000
sort_buffer_size        = 64M
net_buffer_length       = 8K
read_buffer_size        = 64M
read_rnd_buffer_size    = 64M
myisam_sort_buffer_size = 8M

bind-address            = 0.0.0.0

innodb_data_home_dir              = /DATA/db/mysql
innodb_data_file_path             = ibdata1:10M:autoextend
innodb_log_group_home_dir         = /DATA/db/mysql

innodb_buffer_pool_size           = 800M
innodb_additional_mem_pool_size  = 200M

innodb_log_file_size              = 40M
innodb_log_buffer_size            = 8M
innodb_flush_log_at_trx_commit    = 0
innodb_lock_wait_timeout          = 50

# Aria log settings
aria-log-dir-path       = /DATA/log/mysql/

# Error log
log_error               = /DATA/log/mysql/mysql-error.log

# General query log settings
#general_log_file        = /DATA/log/mysql/mysql.log
#general_log             = 1

# Slow Query log settings
#long_query_time         = 2
#slow-query-log          = 1
#slow-query-log-file     = /DATA/log/mysql/mysql-slow.log
#log_queries_not_using_indexes =1

[mysqldump]
quick
max_allowed_packet = 64M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 128M
sort_buffer_size = 128M
read_buffer = 64M
write_buffer = 64M

[mysqlhotcopy]
interactive-timeout